<ion-header>
    <ion-toolbar color="success">
        <ion-title>Datos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Genero</ion-label>
        <ion-select name="userInfo.genero" [(ngModel)]="itemSelected" (ionChange)="getGenero(itemSelected.text)">
            <ion-select-option *ngFor="let v of genero" [value]="v">{{v.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input type="text" [(ngModel)]="userInfo.edad"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Altura(cm)</ion-label>
        <ion-input type="number" [(ngModel)]="userInfo.altura"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Peso(kg)</ion-label>
        <ion-input type="number" [(ngModel)]="userInfo.peso"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Tu objetivo de entrenamiento</ion-label>
        <ion-select name="userInfo.objetivo" [(ngModel)]="objSelected" (ionChange)="getObjetivo(objSelected.text)">
            <ion-select-option *ngFor="let o of objetivo" [value]="o">{{o.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Nivel de Actividad</ion-label>
        <ion-select name="userInfo.actividad" [(ngModel)]="actividadSelected"
            (ionChange)="getActividad(actividadSelected.text)">
            <ion-select-option *ngFor="let a of actividad" [value]="a">{{a.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-button (click)="Insertar(userInfo)">Siguiente</ion-button>
    </ion-item>
</ion-content>