<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
    <ion-button slot="end" href="/login" color="success">
      <ion-icon slot="start" src="../../assets/imgs/salir.svg"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <div>
      <div class="padding">
        <p>Este es el menu principal de la aplicación</p>
        <img src="../../assets/ayuda/menu.png" alt="">
      </div>
      <div class="padding">
        <p>Este apartado muestra el progreso que se lleva segun los Macronutrientes recomendados</p>
        <img src="../../assets/ayuda/objetivomacros.png" alt="">
      </div>
      <div class="padding">
        <p>Se muestra graficamente por medio de barras que se van llenando conforme se inserten comidas</p>
        <img src="../../assets/ayuda/barra.png" alt="">
      </div>
    </div>
    <div>
      <div class="padding">
        <p>Este apartado es donde se muestran las comidas que se han ingerido en el dia</p>
        <img src="../../assets/ayuda/insertarcomida.png" alt="">
      </div>
      <div class="padding">
        <p>Para insertar una comida se toca el siguiente boton azul</p>
        <img src="../../assets/ayuda/añadircomida.png" alt="">
      </div>
      <div class="padding">
        <p>Aqui se escriben los datos de la comida que se desea agregar</p>
        <img src="../../assets/ayuda/agregar.png" alt="">
      </div>
    </div>
    <div>
      <div class="padding">
        <p>En este apartado se genera un reporte de tu informacion, recomendacion y los Macronutrientes que has
          consumido</p>
        <img src="../../assets/ayuda/reporte.png" alt="">
      </div>
    </div>
    <div>
      <div class="padding">
        <p>Para cerrar sesion solo se da click el icono de puerta</p>
        <img src="../../assets/ayuda/logout.png" alt="">
      </div>
    </div>
  </div>
</ion-content>