#calorias{
    width: 100%;
    padding-right: 20px;
    position: absolute;
    display: block;
}

#proteinas{
    width: 100%;
    padding-right: 20px;
    position: absolute;
    display: block;
}

#grasas{
    width: 100%;
    padding-right: 20px;
    position: absolute;
    display: block;
}

#carbohidratos{
    width: 100%;
    padding-right: 20px;
    position: absolute;
    display: block;
}