<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label floating>Correo Electronico</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button (click)="register(user)">Register</ion-button>
  <ion-button (click)="back()">Regresar</ion-button>
</ion-content>